In [19]:
print("Python")

Python

Teorema de pitágoras
$$
a^2+b^2=c^2
$$

In [20]:
print("Víctor")

Víctor

In [21]:
print("Hola")
"mundo"

Hola

'mundo'

In [22]:
print("""a
a
a
a""")

a
a
a
a

In [23]:
len("Victor")

6

In [24]:
"no pasé el examen".title()

'No Pasé El Examen'

In [25]:
"mayúsculas".upper()

'MAYÚSCULAS'

In [26]:
"una gran máquina".find("máquina")

9

In [27]:
"una gran máquina".replace("gran","diminuta")

'una diminuta máquina'

In [28]:
"                   ESPACIOS            ".strip()

'ESPACIOS'

In [29]:
"MINÚSCULAS".lower()

'minúsculas'

In [30]:
print("México"[0])
print("México"[1])
print("México"[2])

M
é
x

In [31]:
"Outlier"[-1]

'r'

In [36]:
"Python"[1:4]

'yth'

Incluye el primero pero excluye la última letra.

In [38]:
"Python"[:]

'Python'

In [40]:
"Python"[2:]

'thon'

In [41]:
"Python"[:3]

'Pyt'

In [43]:
"python"[-4]

't'

In [54]:
"Python"[:3]

'Pyt'

In [48]:
"Python"[2:]

'thon'

In [49]:
"Python"[::2]

'Pto'

In [50]:
"Python"[::-1]

'nohtyP'

In [56]:
"string"[1:4:2] ##k da saltos del inicio al final

'ti'

In [55]:
"Python"[1:4]

'yth'

In [57]:
type(8)

int

In [58]:
type(8.0)

float

In [59]:
## int son enteros, float son racionales, irracionales

In [60]:
## Operaciones
#Suma
3+2

5

In [61]:
#Resta 
2-1

1

In [26]:
#Divisón (Elimina residuo, es entera)
3//2

1

In [25]:
#Residuo (Es 4mod2=0)
4%2
5%2

1

In [69]:
#Divisón
3/2

1.5

In [70]:
#Conv a binario
3^2

1

Funciones Numéricas

In [71]:
complex(1,2)

(1+2j)

In [72]:
bin(10)

'0b1010'

In [76]:
format(1e10, ",.2f") ##La parte roja dice que lo divida en comas y de 2 decimales flotantes"

'10,000,000,000.00'

In [80]:
format(0.1423,".2%") ## La parte roja explica cuantos decimales

'14.23%'

In [83]:
2**3/4

2.0

In [84]:
2**3 #Potencia

8

In [86]:
(1*(3-3%10)+10)/10

1.0

In [88]:
type(1+2.3)

float

In [90]:
6+int("5")

11

Variables
nombre_variable = <objeto>

In [2]:
var=input("Ingrese su nombre")

Ingrese su nombre Víctor

In [9]:
n1=int(input("Ingrese un numero "))
n2=int(input("Ingrese el segundo numero "))
n3=int(input("Ingrese el tercer numero "))
n1+n2+n3

Ingrese un numero 2
Ingrese el segundo numero 3
Ingrese el tercer numero 1

6

# Strings e Índices

In [11]:
sorted("Murcielago")

['M', 'a', 'c', 'e', 'g', 'i', 'l', 'o', 'r', 'u']

In [19]:
materias=["Cálculo","Mate fin","Álgebra"]
type(materias)

list

In [14]:
materias[0]

'Cálculo'

In [22]:
materias[1] = "Computación"
materias[1]

'Computación'

# Copiar dos listas

In [24]:
id(materias)

2305604092360

In [3]:
una_lista=["Esta","es","una","lista"]
separador="<-<-<-<"
separador.join(una_lista)

'Esta<-<-<-<es<-<-<-<una<-<-<-<lista'

In [42]:
numeros=[1,1,2,3,5,8,13]
print(sum(numeros)/len(numeros0))

4.714285714285714

In [67]:
numeros1=[0,7,20,11,1,17,4,13,9,0,12,18,5,10,8,0,10,6,19,19,10,9,4,4,18,18,0]
sum(numeros1[::len(numeros1)//2])

10

In [86]:
list2=["a","b","a","c","a","a","d"]
"".join(list2).replace("a","").split()

['bcd']

# Tuple

In [91]:
strike1=10
strike2=20
strike3=30

s1,s2,s3= 10, 20, 30

# Diccionarios

In [93]:
alumnos = {
    "José":    [11, "rojo", "Administración"],
    "Charlie": [33, "Violeta", "Ingeniería"],
    "Luis": [23, "Negro", "Matemáticas"],
    "Johanna": [18, "Gris", "Finanzas"]
}

In [97]:
alumnos["Luis"]

[23, 'Negro', 'Matemáticas']

In [98]:
alumnos["Luis"][0]

23

In [101]:
del alumnos["Charlie"]
alumnos

{'José': [11, 'rojo', 'Administración'],
 'Luis': [23, 'Negro', 'Matemáticas'],
 'Johanna': [18, 'Gris', 'Finanzas']}

In [102]:
alumnos["Gerardo"] = [23, "vino", "Actuaría"]
alumnos

{'José': [11, 'rojo', 'Administración'],
 'Luis': [23, 'Negro', 'Matemáticas'],
 'Johanna': [18, 'Gris', 'Finanzas'],
 'Gerardo': [23, 'vino', 'Actuaría']}

In [103]:
alumnos.keys()

dict_keys(['José', 'Luis', 'Johanna', 'Gerardo'])

In [104]:
alumnos.items()

dict_items([('José', [11, 'rojo', 'Administración']), ('Luis', [23, 'Negro', 'Matemáticas']), ('Johanna', [18, 'Gris', 'Finanzas']), ('Gerardo', [23, 'vino', 'Actuaría'])])

# Sets

In [106]:
vocales = {'a', 'e', 'i', 'o', 'u'}
p1 = {'c', 'a', 'r', 'r', 'o'}

In [108]:
p1 & vocales

{'a', 'o'}

In [109]:
p1 | vocales

{'a', 'c', 'e', 'i', 'o', 'r', 'u'}

In [110]:
p1 - vocales

{'c', 'r'}

In [111]:
p1^vocales #XOR

{'c', 'e', 'i', 'r', 'u'}

In [115]:
vocales = {
 "mayusculas": ['A', 'E', 'I', 'O', 'U'],
 "minusculas": ['a', 'e', 'i', 'o', 'u']
}
vocales["minusculas"][0]

'a'

Modifica el diccionario alumnos de tal manera que cada llave del diccionario sea el nombre del estudiante y el valor un diccionario adicional con las llaves "edad", "color_favorito", "carrera", asignados a sus valores correspondientes.

In [119]:
alumnos = {
    "José", "Charlie","Luis","Johanna"}
edad={"11","33","23","18"}
colorfav={"rojo","violeta","negro","gris"}
carrera={"Administración","Ingeniería","Matemáticas","Johanna"}

In [126]:
p2={'q', 'u', 'e', 'u', 'e'}
type(p2)
len(p2)

3

In [129]:
investor1 = {'HOTEL', 'CHDRAUI', 'ALPEK', 'VISTA', 'MFRISCO', 'AHMSA', 'LAB', 'SPORT', 'SAVIA', 'LASEG'}
investor2 = {'CMOCTEZ', 'BEVIDES', 'OMA', 'GNP', 'AGRIEXP', 'SPORT', 'TRAXION', 'GENTERA', 'COLLADO', 'LAMOSA'}
investor3 = {'FEMSA', 'ALSEA', 'BIMBO', 'ELEMENT', 'FINAMEX', 'GCC', 'VISTA', 'GEO', 'IENOVA', 'OMA', 'CADU', 'ANB', 'AUTLAN', 'GICSA', 'GFNORTE', 'IDEAL', 'MEXCHEM', 'ELEKTRA', 'SITES', 'CABLE'}
investor4 = {'GENTERA', 'BOLSA', 'VISTA', 'TEAK', 'ACCELSA', 'CUERVO', 'TEKCHEM', 'QBINDUS', 'MEDICA', 'URBI', 'CIE', 'NEMAK', 'KIMBER', 'GPH', 'GMD', 'ACTINVR', 'GAP', 'JAVER', 'INGEAL', 'ARA'}

investor1|investor2|investor3|investor4

{'ACCELSA',
 'ACTINVR',
 'AGRIEXP',
 'AHMSA',
 'ALPEK',
 'ALSEA',
 'ANB',
 'ARA',
 'AUTLAN',
 'BEVIDES',
 'BIMBO',
 'BOLSA',
 'CABLE',
 'CADU',
 'CHDRAUI',
 'CIE',
 'CMOCTEZ',
 'COLLADO',
 'CUERVO',
 'ELEKTRA',
 'ELEMENT',
 'FEMSA',
 'FINAMEX',
 'GAP',
 'GCC',
 'GENTERA',
 'GEO',
 'GFNORTE',
 'GICSA',
 'GMD',
 'GNP',
 'GPH',
 'HOTEL',
 'IDEAL',
 'IENOVA',
 'INGEAL',
 'JAVER',
 'KIMBER',
 'LAB',
 'LAMOSA',
 'LASEG',
 'MEDICA',
 'MEXCHEM',
 'MFRISCO',
 'NEMAK',
 'OMA',
 'QBINDUS',
 'SAVIA',
 'SITES',
 'SPORT',
 'TEAK',
 'TEKCHEM',
 'TRAXION',
 'URBI',
 'VISTA'}

# Control Flow

Booleans en Python: True, False

In [2]:
print(True)
print(False)

True
False

Tienen sus operadores:
$$
==:Equivalencia
 !:Diferencia 
 not:negación
 and:y
$$

# Keyword in

Regresa un booleano

In [3]:
my_string="The Tipping Point"

In [4]:
my_string.endswith("Point")

True

In [5]:
"Tippin" in my_string

True

In [6]:
"one" in ["one","two","three"]

True

In [7]:
"five" in ["one","two","three"]

False

# Comparaciones

In [8]:
3<4

True

In [9]:
3>4

False

In [10]:
1<-4<10

False

In [11]:
1<4<10

True

In [12]:
x=4
5<x

False

In [14]:
4<=x

True

In [15]:
4!=1

True

In [16]:
(True or False)and False

False

Primero va el y y luego el o

In [19]:
not not False and not False

False

# If y else

if<condicion>;
<expresión>

In [45]:
num=int(input("Escribe un número: "))
par= "par" if num%2==0 else "impar" 
print(par)

Escribe un número: 5
impar

# Cíclos

For Loop

In [49]:
lista2=[1,2,3,4]

for val in lista2:
    print(val)

1
2
3
4

In [50]:
range(5)

range(0, 5)

In [53]:
for n in range(6):
    print(n)

0
1
2
3
4
5

# Break

In [59]:
for i in range(100):
    print(i, end=" ")
    if i==5:
        break

0 1 2 3 4 5

In [93]:
numeros = [12,12,3,4,12,3]

for val in numeros:
    print(sum(numeros))

46
46
46
46
46
46

In [72]:
sum(numeros)

46

# While Loop

In [1]:
x=1
while x <= 10:
    print(x, end=" ")
    x+=1

1 2 3 4 5 6 7 8 9 10


5. Si el pequeño Johny quiere invertir $30\$$ a una tasa efectiva anual del $7\%$ por 5 meses, ¿le conviene más invertir su dinero a una tasa compuesta o simple?

Argumenta tu resultado númericamente

In [2]:
c=30
ia=0.07
t=5
im=((1+0.07)**(1/12))-1
Is=30*(1+(im*t))
ic=30*(1+im)**t
Is, ic, im

(30.84812180811079, 30.857766997431646, 0.005654145387405274)

In [14]:
#numeros=[16,4,3,3,14]
numeros=[3,5,"a",8,len,True,10,1]
suma=0
objetos=[]
for num in numeros:
    if type(num)== float or type(num)==int:
        suma=suma+num
    else:
        objetos.append(str(num))
if len(objetos)>0:
    print

(27, ['a', '<built-in function len>', 'True'])

In [15]:
for x in 2:
    print(x)

TypeError: 'int' object is not iterable

In [18]:
n=5
for x in range(1,n+1):
    print(x)

1
2
3
4
5

In [2]:
for i in range(1,11):
    lista = []
    if i ==2:
        print("-"*40)
    for j in range(1,11):
        
        if j == 2:
            lista.append("|")
        lista.append(i*j)
    print(lista)

[1, '|', 2, 3, 4, 5, 6, 7, 8, 9, 10]
----------------------------------------
[2, '|', 4, 6, 8, 10, 12, 14, 16, 18, 20]
[3, '|', 6, 9, 12, 15, 18, 21, 24, 27, 30]
[4, '|', 8, 12, 16, 20, 24, 28, 32, 36, 40]
[5, '|', 10, 15, 20, 25, 30, 35, 40, 45, 50]
[6, '|', 12, 18, 24, 30, 36, 42, 48, 54, 60]
[7, '|', 14, 21, 28, 35, 42, 49, 56, 63, 70]
[8, '|', 16, 24, 32, 40, 48, 56, 64, 72, 80]
[9, '|', 18, 27, 36, 45, 54, 63, 72, 81, 90]
[10, '|', 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
def funcion():
    print("Esto es una función.")
funcion()

Esto es una función.

In [4]:
def distancia(a, b):
    print((a**2+b**2)**(1/2))
distancia(1,2)

2.23606797749979

In [6]:
def potencia(a,b):
    return a**b
def lista_potencia()

3

In [1]:
def triangulo(longitud):
    for i in range(1,longitud +1):
        for c in range(1,i+1):
            print(c, end=" ")
        print()
triangulo(3)

1
1 2
1 2 3

In [60]:
def potencia(a,b):
    return a**b
def lista_potencia(potencia):
    for i in range(1,potencia +1):
        print(i, end=" ")
    print()
lista_potencia(4)

1 2 3 4

In [84]:
def potencias(n,a):
    lista_potencias = []
    for i in range(1,a+1):
        lista_potencias.append(n ** i)
    return lista_potencias


print(potencias(2,12))

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

Usando la función lista_funciones, define la función potencia_unidades que tome un número n y un número entero lim. La función deberá regresar una lista con los valores únicos de las unidades para cada número $\{n^i\}_{i=1}^{\texttt{lim}}$

In [100]:
def potencia_unidades(n,lim):
    lista_funciones=[]
    for r in range(1,lim+1):
        lista_funciones.append(n**r)
        lista_funciones[-1]
    return lista_funciones

potencia_unidades(2,3)
lista_funciones[-1]

NameError: name 'lista_funciones' is not defined

In [10]:
fibonacci(3-1)

NameError: name 'fibonacci' is not defined

In [17]:
def fibonacci(n):
    lista_fib=[]
    for x in (1,n+1):
        if x==1:
            lista_fib.append(0)
        elif x==2:
            lista_fib.append(1)
        elif x>2:
            fib=fibonacci(n-1)+fibonacci(n-2)
            lista_fib.append(fib)
    return lista_fib
fibonacci(4)

[0, [0, [0, [0, 1, 0, 0], 0, 1], 0, [0, 1, 0, 0]]]

In [24]:
lista1=[1,2,3]
str1=str(lista1)
str1.replace("[","").replace("]","")

'1, 2, 3'